<!DOCTYPE html>
<html>
<head>
    <title>Django Sample</title>
    {% load staticfiles %}
    <!-- Foundation & FontAwesome -->
    <!-- <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.2.3/css/foundation.css"> -->
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/trianglify/0.1.2/trianglify.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">   

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'sample_project/style.css' %}" />  
    <link href="justified-nav.css" rel="stylesheet"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    
    <!--calendar app urls  -->
    <meta charset='utf-8' />
    <link href='/static/fullcalendar.css' rel='stylesheet' />
    <link href='/static/fullcalendar.print.css' rel='stylesheet' media='print' />
    <script src='/static/moment.min.js'></script>
    <script src='/static/fullcalendar.js'></script>
    <script src='/static/fullcalendar.min.js'></script>
    <script src='/static/jquery-ui.custom.min.js'></script>
    <script src='/static/lang-all.js'></script>

</head>
<body>  
    <div class="container">
        <div class="masthead">
            <h3 class="text-muted">Django Sample Project</h3>
            <nav>
                <ul class="nav nav-tabs nav-justified">
                    <li role="presentation" >
                    <a href="/" >Home</a></li>
                   

                    {% if user.is_authenticated %}
                        
                        <li role="presentation" ><a href="{% url 'admin:index' %}" target ='_blank'>Admin</a></li>
                        <li role="presentation"><a href="{% url 'polls:index' %}" >Polls</a></li>
                        <li role="presentation"><a href="{% url 'app:userform' %}">Upload Image</a></li>
                        <li role="presentation"><a href="{% url 'demoapp:index' %}">Todo_List</a></li>
                        

                        <li role="presentation"><a href="{% url 'account_email' %}">Change E-mail</a></li>
                        
                        <li role="presentation"><a href="{% url 'account_logout' %}">Sign Out</a></li>
                        
                        
                        <div align="right">
                        
                        <form class="nice" action="/search/" id="search" > 
                        Search
                        <input type="search" class="small input-text" placeholder="Enter search text" name="q">
                        <input type="submit" class="nice small radius red button" value="GO">
                        </form> 
                        </div>

                    
                    {% else %}
                        <li role="presentation"><a href="/accounts/login/">SignIn</a> </li>
                        <li role="presentation"><a href="/accounts/signup/">SignUp</a></li>
                    {% endif %}
                </ul>   
            </nav>
        </div>
        <!-- <div>
            Welcome to Home
        </div> -->


              {% block content %}
    {% endblock content%}
    
    </div>               
    
    
</body>
</html>
